body {
    font-family: 'Quicksand';
    /*background-image: linear-gradient(180deg, #cad2c5, #84a98c,#52796f);*/
    background:
    radial-gradient(circle farthest-side at 0% 50%,#cad2c5 23.5%,rgba(240,166,17,0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%,rgb(19, 114, 82) 24%,rgba(240,166,17,0) 0)19px 30px,
    linear-gradient(#cad2c5 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#cad2c5 0)0 0,
    linear-gradient(150deg,#cad2c5 24%,#52796f 0,#52796f 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#52796f 0,#52796f 76%,#cad2c5 0)0 0,
    linear-gradient(30deg,#cad2c5 24%,#52796f 0,#52796f 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#52796f 0,#52796f 76%,#cad2c5 0)0 0,
    linear-gradient(90deg,#52796f 2%,#cad2c5 0,#cad2c5 98%,#52796f 0%)0 0 #cad2c5;
    background-size: 40px 60px;

    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

div {
    width: 550px;
    background-color: #fff;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    /*text-align: center;
    justify-content: center;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px -1px 10px #52796f;*/
}

#info {
    text-transform: uppercase;
    font-size: 14px;
    width: 550px;
    line-height: 30px;
}

::placeholder {
    color: #52796f;
    opacity: 0.2;
}

h2 {
    text-transform: uppercase;
    font-size: 28px;
}

input:focus, button:focus {
    outline-style: none;
}

#btn {
    font-family: inherit;
    border: none;
    background-image: linear-gradient(120deg, #84a98c,#354f52);
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    width: 150px;
    margin-top: 20px;
}

#btn:hover{
    box-shadow: 1px 1px 10px #cad2c5;
}

#w, #h{
    font-size: 16px;
    border-width: 0 0 1px 0;
    border-color:  #354f52;
}

#result {
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}